<section fxLayoutAling="center" class="sesion">
  <mat-card>
    <div class="titulo">
      Solicitud - Tipo Productos
      <button
        mat-icon-button
        color="primary"
        (click)="GetSolicitudMetodologia()"
        tooltip="matTooltip"
        matTooltip="Nueva solicitud"
        matTooltipHideDelay="100"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cumplido === true ? "Cumpliado" : "Pendiente" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="NroSolicitud">
        <th mat-header-cell *matHeaderCellDef>Nro Solicitud</th>
        <td mat-cell *matCellDef="let element">{{ element.codigoSolicitud }}</td>
      </ng-container>

      <ng-container matColumnDef="NomMetodologia">
        <th mat-header-cell *matHeaderCellDef>Metodología</th>
        <td mat-cell *matCellDef="let element">{{ element.nombreMetodogia }}</td>
      </ng-container>

      <ng-container matColumnDef="TipoProducto">
        <th mat-header-cell *matHeaderCellDef>Tipo Producto</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoProducto }}</td>
      </ng-container>

      <ng-container matColumnDef="Docente">
        <th mat-header-cell *matHeaderCellDef>Docente</th>
        <td mat-cell *matCellDef="let element">{{ element.docente }}</td>
      </ng-container>

      <ng-container matColumnDef="Programa">
        <th mat-header-cell *matHeaderCellDef>Programa</th>
        <td mat-cell *matCellDef="let element">{{ element.programa }}</td>
      </ng-container>

      <ng-container matColumnDef="FechaAsignacion">
        <th mat-header-cell *matHeaderCellDef>Fecha Asignación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaAsignacion | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="FechaEntrega">
        <th mat-header-cell *matHeaderCellDef>Fecha Entrega</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaEntrega | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Descripion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="Porcentaje">
        <th mat-header-cell *matHeaderCellDef>Porcentaje</th>
        <td mat-cell *matCellDef="let element" class="align-right" >{{ element.porcentaje }} %</td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 180px"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="GetMetodologiaEdit(element)"
        tooltip="matTooltip"
        matTooltip="Editar Metodología - Tipo Producto"
        matTooltipHideDelay="100">
        <mat-icon>edit</mat-icon>
      </button>
          <button
            mat-icon-button
            color="warn"
            (click)="DeleteMetodologia(element)"
            tooltip="matTooltip"
            matTooltip="Eliminar Metodología - Tipo Producto"
            matTooltipHideDelay="100"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
          mat-icon-button
          color="secundary"
          (click)="AsociarEstudiante(element)"
          tooltip="matTooltip"
          matTooltip="Asociar estudiantes"
          matTooltipHideDelay="100"
          >
            <mat-icon>group_add</mat-icon>
          </button>
        </td></ng-container
      >

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
       </ng-container>


       <ng-container matColumnDef="expandedDetail">
         <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
           <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
             <div class="example-element-description">
               {{ getDescripcion(element) }}
             </div>
           </div>
         </td>
       </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card>
</section>
