<app-spinner *ngIf="loading$ | async"></app-spinner>

<section fxLayoutAling ="center" class="sesion">
  <mat-card>
    <form
    fxLayout="column"
    fxLayoutAling = "center center"
     fxLayoutGap="2px"
     #f="ngForm"
     (ngSubmit)="loginUsuario(f)"
     >
     <div class="titulo">
      Credenciales de Acceso
     </div>
     <mat-form-field>
      <mat-label>Ingrese E-Mail</mat-label>
      <input type="email" matInput placeholder="E-Mail" name="email" ngModel required="" [(ngModel)]="usuario">
      <mat-error>Debe ingresar un E-Mail</mat-error>
     </mat-form-field>

     <mat-form-field>
      <mat-label>Ingrese Password</mat-label>
      <input type="password" matInput placeholder="Password" name="password" ngModel required="" [(ngModel)]="clave">
      <mat-error>Debe ingresar un password</mat-error>
     </mat-form-field>

     <button mat-raised-button color="primary" type="submit">
      Iniciar Sesión
     </button>

    </form>
  </mat-card>
</section>
