mat-form-field{
  font-size: 14px;
  width: 90%;
}

.custom-tile {
  height: 70px; /* Establece la altura deseada en píxeles o cualquier otra unidad de medida */
}
.palabras-clave{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}


