
<h1 mat-dialog-title>{{TituloFormulario}}</h1>
<div mat-dialog-content>
  <form  [formGroup]="frmGetCausaEfecto">
    <mat-grid-list cols="1" rowHeight="150px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>{{TituloLabel}}</mat-label>
          <textarea matInput formControlName="{{nombreLabel}}"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button color="primary"
  (click)="GuardarEditar()"
  [disabled]="frmGetCausaEfecto.invalid">{{botonAccion}}</button>
</div>
